		</div><!--class:pageContent-->
		<div class="footer padded" style="position:relative;z-index:2000">
			<div class="text">Спортско Рекреативни Центар Милан Гале Мушкатировић</div>
			<div class="copyright">&copy; <span id="copyright-year"></span> - Сва права задржана.</div>
			<script>
				document.getElementById("copyright-year").innerHTML	=	new Date().getFullYear() + ".";
			</script>
		</div>
	</body>
</html>