<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/otvoreni-bazeni.jpg)"></div>
	<div class="pageFixedTitle">БАЗЕНИ НА ОТВОРЕНОМ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Велики олимпијски базен дубине 2 метра који у потпуности испуњава стандарде светских и европских пливачких федерација и намењен је како рекреативцима тако и организацији домаћих и међународних такмичења.<br>&nbsp;<br>Други базен спада у категорију рекреативних, дубок је 1,20м и опремљен садржајима карактеристичним за аквапаркове. Поседује преливну печурку, три “ластина репа”, хидромасажни зидни гејзир и централни гејзир.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Трећи и најмањи базен намењен је деци. Прилагођена дубина до 20цм и гумирана подлога чине га максимално безбедним за најмлађе посетиоце.<br>&nbsp;<br>Поред уобичајених пратећих садржаја – тушева, свлачионица, на отвореним базенима се налази и кафе-бар, док су простори базена и баште кафе-бара снабдевени сунцобранима и лежаљкама.</div>
						<div>Грађани могу користити затворени базен у следећим терминима:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Субота</td>
								<td>Недеља</td>
							</tr>
							<tr>
								<td>10:00 - 19:00</td>
								<td>09:00 - 19:00</td>
								<td>09:00 - 19:00</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>целодневна</td>
					<td>500,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>после 16 часова</td>
					<td>350,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца од 5 до 12 година - свим данима</td>
					<td>целодневна</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта пензионери - свим данима</td>
					<td>целодневна</td>
					<td>350,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом - свим данима</td>
					<td>целодневна</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта труднице – свим данима</td>
					<td>целодневна</td>
					<td>400,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта труднице – свим данима</td>
					<td>после 16 часова</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Породична карта ( родитељи са једним или двоје деце до 12 година )</td>
					<td>целодневна</td>
					<td>900,00 дин.</td>
				</tr>
				<tr>
					<td>Појединачна карта - одрасли</td>
					<td>ноћно купање</td>
					<td>600,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта – одрасли (30 термина)</td>
					<td>целодневна</td>
					<td>7.000,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта – одрасли</td>
					<td>целодневна</td>
					<td>11.000,00 дин.</td>
				</tr>
				<tr>
					<td>Деца млађа од 5 година</td>
					<td>бесплатно</td>
					<td>бесплатно</td>
				</tr>
				<tr>
					<td>Изнајмљивање - један сунцобран</td>
					<td>дневно</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање - једна лежаљка   </td>
					<td>дневно</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање - једна лежаљка испод перголе </td>
					<td>дневно</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање - један сунцобран и две лежаљке </td>
					<td>дневно</td>
					<td>500,00 дин.</td>
				</tr>
			</table>
			<div class="sectionTitle">КАРТИЦА ПОГОДНОСТИ</div>
			<table class="priceTable">
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>целодневна</td>
					<td>450,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>после 16 часова</td>
					<td>315,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта – одрасли (30 термина)</td>
					<td>целодневна</td>
					<td>6.300,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта – одрасли</td>
					<td>целодневна</td>
					<td>9.900,00 дин.</td>
				</tr>
			</table>
		</div>
	</div>



<%- include ("partials/footer") -%>