<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/penzioneri.png)"></div>
	<div class="pageFixedTitle">БЕСПЛАТНИ ПРОГРАМИ ЗА ПЕНЗИОНЕРЕ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="textWrap">
					<div class="content">
						<div class="title">
							ПЛИВАЊЕ ЗА ПЕНЗИОНЕРЕ
						</div>
						<div class="text">
							Припадници старије популације са територије Градске Општине Стари град, уз персонализовану картицу <span class="boldBlue">"Стари град мисли на тебе"</span>, могу бесплатно користити базен за рекреативно пливанје. <br>&nbsp;<br>Издавање картице "Стари град мисли на тебе" и пријава за бесплатни програм пливања за сениоре врши се у <span class="boldBlue">Услужном центру</span> Градске општине Стари град, у згради општине (улаз из Нушићеве улице). Више информација можете добити у Услужном центру или позивом на број <span class="boldBlue"><a href="tel:+381800077775">0800 07 77 75</a></span>.
						</div>
					</div>
					
				</div>
				<div class="imageWrap">
					<div class="image">
						<table class="terminiTable">
							<tr>
								<td>Понедељак</td>
								<td>Среда</td>
								<td>Петак</td>
							</tr>
							<tr>
								<td>12:00 - 13:30</td>
								<td>12:00 - 13:30</td>
								<td>12:00 - 13:30</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="imageWrap">
					<div class="image">
						<img style="border:2px solid rgb(47,78,176)" src="/images/penzioneri-joga.jpg">
					</div>
				</div>
				<div class="textWrap">
					<div class="content">
						<div class="title">
							Јога за пензионере <!--- ТРЕНУТНО НИЈЕ ДОСУТПНО-->
						</div>
						<div class="text">
							Понедељком и четвртком у термину од 17 до 18 часова пензионери могу похађати бесплатне часове јоге који имају позитивно деловање на физичко и ментално стање и повећање животне енергије. 
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="textWrap">
					<div class="content">
						<div class="title">
							Кардио фитнес <!-- - ТРЕНУТНО НИЈЕ ДОСТУПНО-->
						</div>
						<div class="text">
							Уторак и четвртак од 10 до 11 часова резервисани су за кардио фитнес. Овај програм је пажљиво осмишљен и прилагођен старијој популацији која често није у могућности да приушти себи издатке за овакву врсту активности.
						</div>
					</div>
					
				</div>
				<div class="imageWrap">
					<div class="image">
						<div class="image">
							<img style="border:2px solid rgb(47,78,176)" src="/images/penzioneri-kardio.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



<%- include ("partials/footer") -%>