<%- include ("partials/header") -%>
	<div class="contentWidth">
		<div class="sectionTitle">DOKUMENTI</div>
		<div class="documents">
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2023-Otvoreni.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Cenovnik za otvoreni bazen 2023. 25. maj - Milan Gale Muškatirović</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2023.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Cenovnik 2023. 25. maj - Milan Gale Muškatirović</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2022.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Cenovnik 2022. 25. maj - Milan Gale Muškatirović</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630920378/1-Odluka_o_osnivanju_PD_25.maj-mgm.pdf?1630920378','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka o osnivanju PD 25. maj - Milan Gale Muškatirović</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923016/3-Odluka_o_osnivanju_-preciscen_tekst_-PD_25.maj-mgm.pdf?1630923016','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka o osnivanju PD 25. maj - Milan Gale Muškatirović (prečišćen tekst)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923014/2-Odluka_Izmene_i_dopune_osnivackog_akta_PD25.maj-mgmg.pdf?1630923014','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka - Izmene i dopune osnivačkog akta PD 25. maj - Milan Gale Muškatirović</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923289/1-pravilnik_o_organ.i_sistematizaciji_poslova.pdf?1630923289','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Pravilnik o organizaciji i sistematizaciji poslova</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923663/3-organizaciona_sema.pdf?1630923663','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Organizaciona šema</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923281/4-broj_zaposlenih_i_radno_angazovanih.pdf?1630923281','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Broj zaposlenih i radno angažovanih</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923285/5-Pravilnik_o_radu_i_zaradama.pdf?1630923285','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Pravilnik o radu i zaradama</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926332/1-Odluka_usvajanje_godisnjeg_finans.izvestaja.pdf?1630926332','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka - Usvajanje godišnjeg finansijskog izveštaja</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926333/2--Bilans_stanja.pdf?1630926333','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Bilans stanja</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926335/3--Bilans_uspeha.pdf?1630926335','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Bilans uspeha</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926330/4-Odluka_o_raspodeli_dobiti.pdf?1630926330','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka o raspodeli dobiti</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926331/5-Potvrda_o_objavljenom_godisnjem_finasij.izvestaju.pdf?1630926331','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Potvrda o objavljenom godišnjem finasijskom izveštaju</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630927253/Pravilnik_o_Javnim_Nabavkama_%28_1_deo_%29.pdf?1630927253','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Pravilnik o javnim nabavkama (deo 1)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630927255/Pravilnik_o_Javnim_Nabavkama_%28_nastavak_%29.pdf?1630927255','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Pravilnik o javnim nabavkama (deo 2)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://assets.nationbuilder.com/starigrad/pages/155/attachments/original/1652435757/Odluka_o_odre%C4%91ivanju_visine_zakupnine_poslovnog_prostora.pdf?1652435757','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Odluka - Cenovnik zatvorenog i otvorenog poslovnog prostora</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926725/Pravilnik_o_unutrasnjem_uzbunjivanju.pdf?1630926725','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Pravilnik o unutrašnjem uzbunjivanju</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>