<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/kombo.jpg)"></div>
	<div class="pageFixedTitle"><i>COMBO</i> ПАКЕТИ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="smallContent" style="text-align: center;">
			За потпуну рекреацију и релаксацију осмишљени су <i>COMBO</i> пакети. Овај тип улазница вам омогућава приступ олимпијском базену, саунском блоку и теретани, у терминима које покрива пакет за који сте се одлучили.
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Combo Premium - Месечна карта - олимпијски базен и сауна, 30 термина</td>
					<td>пакет услуга</td>
					<td>10 000,00 дин.</td>
				</tr>
				<tr>
					<td>Combo Plus - Месечна карта - олимпијски базен и сауна, само радним данима</td>
					<td>пакет услуга</td>
					<td>7 500,00 дин.</td>
				</tr>
				<tr>
					<td>Combo economy - Месечна карта - олимпијски базен и сауна, само викендом</td>
					<td>пакет услуга</td>
					<td>7 000,00 дин.</td>
				</tr>
				<tr>
					<td>Combo daily - Дневна карта - олимпијски базен и сауна (базен се користи у терминима за грађанство током радног времена сауне)</td>
					<td>пакет услуга</td>
					<td>1 100,00 дин.</td>
				</tr>
			</table>
			<table class="priceTable" style="margin-top:20px;">
				<tr>
					<td><i>COMBO</i> GYM - затворени базен и теретана (30 термина) - сваким даном</td>
					<td>8 500,00 din.</td>
				</tr>
				<tr>
					<td><i>COMBO</i> economy GYM - затворени базен и теретана (30 термина) - сауна само викендом</td>
					<td>11 000,00 din.</td>
				</tr>
				<tr>
					<td><i>COMBO</i> plus GYM - затворени базен и теретана (30 термина) - сауна само радним данима</td>
					<td>11 500,00 din.</td>
				</tr>
				<tr>
					<td><i>COMBO</i> premium GYM - затворени базен, теретана и сауна - сваким даном</td>
					<td>14 000,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>