<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/homeHeader.jpg)"></div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	<div class="section padded white">
		<div class="contentWidth">
			<form method="POST" action="/login">
				<input type="email" name="email" placeholder="E-mail"><br>&nbsp;<br>
				<input type="password" name="password" placeholder="Sifra"><br>&nbsp;<br>
				<input type="submit" value="Uloguj se">
			</form>
		</div>
	</div>


<%- include ("partials/footer") -%>