<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/skolica.jpeg)"></div>
	<div class="pageFixedTitle">ШКОЛИЦА ПЛИВАЊА</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="smallContent" style="text-align: center;">
			"Школица пливања 25. мај" намењена је деци узраста од 5 до 14 година.<br>&nbsp;<br>Часови пливања одржавају се на малом базену (за непливаче), на коме температура воде износи 30°.<br>&nbsp;<br>
		</div>
		<div class="smallContent" style="text-align: left">
			<div class="listTitle">Димензије базена</div>
			<ul class="list">
				<li><p>дужина - 12m</p></li>
				<li><p>ширина - 8m</p></li>
				<li><p>дубина - 1,30m - 1,55m</p></li>
				<li><p>плато за обуку непливача - 0,55m</p></li>
			</ul>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda2.jpg);">
			<div class="smallContent padded" style="padding:50px 0px;">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						Школа стартује <b>12. септембра 2022.</b> године и одржаваће се у следећим терминима:<br>понедељак, среда и петаk<br>Преподне 09-10ч<br>Поподне 17-18ч
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">
						Месечна чланарина (три термина недељно) износи:<br>1. за једно дете 5.000 динара<br>2. за двоје и више деце из исте породице одобрава се попуст у износу од 2.000 динара (месечна цена чланарине за друго и свако наредно дете из исте породице износи 3000 динара)
					</div>
				</div>
				<div class="inline">
					<div class="readingText">
						Месечна чланарина (два термина недељно) износи:<br>1. за једно дете 4.000 динара<br>2. за двоје и више деце из исте породице одобрава се попуст у износу од 2.000 динара (месечна цена чланарине за друго и свако наредно дете из исте породице износи 2000 динара)

					</div>
				</div>
			</div>
		</div>
	</div>


<%- include ("partials/footer") -%>