<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/salaHeader.jpeg)"></div>
	<div class="pageFixedTitle">СПОРТСКА САЛА</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="smallContent" style="text-align: center;">
			Посетиоцима и корисницима услуга центра на располагању је и спортска сала опремљена по највишим стандардима и погодна како за спортске активности и припреме професионалних спортиста, тако и за рекреативне активности.<br>
ОД 05 МАЈА 2020. ГОДИНЕ, СПРОТСКА САЛА У ОКВИРУ СРПЦ 25. МАЈ РАДИ ДО 22 ЧАСА.<br>
Контакт телефон: <a href="tel:+381628875704">062/887-5704</a>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Закуп сале 1 сат коришћења од 08.00–12.00 часова</td>
					<td>радним данима</td>
					<td>3.500,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења од 12.00–15.00 часова</td>
					<td>радним данима</td>
					<td>3.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења од 15.00 - 23.00 часа</td>
					<td>радним данима</td>
					<td>5.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења од 23.00 часа</td>
					<td>радним данима</td>
					<td>3.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења од 08.00 - 22.00 часа</td>
					<td>викендом</td>
					<td>5.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења од 22.00 часа</td>
					<td>викендом</td>
					<td>3.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења</td>
					<td>субвенционисана цена</td>
					<td>1.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп сале 1 сат коришћења</td>
					<td>термин за школе</td>
					<td>3.500,00 дин.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>