<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/spa.jpg)"></div>
	<div class="pageFixedTitle" style="top:500px;"><i>WELLNESS</i> ЦЕНТАР</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">У склопу Wellness центра налазе се: саунски блок са једном руском (сауна са влажним ваздухом),  једном финском (сауна са сувим ваздухом) и једном инфрацрвеном сауном, затим тепидаријум, тушеви и мали базен димензија 12 џ 8 метара намењен расхлађивању након и између саунских сесија. Саунски блок доступан је бесплатно за децу до 4 године.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div style="margin-bottom:10px">Радно Време <i>Wellness</i> Центра:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Викенд</td>
							</tr>
							<tr>
								<td>18:00 - 22:00</td>
								<td>15:00 - 22:00</td>
							</tr>
						</table>
						<div style="margin-top:10px">Сезона траје од 1. октобра до 31. маја.</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section padded" style="height:500px;background-image: url(/images/spa2.jpg);background-size:cover ;background-position: center bottom;">
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Дневна карта за сауну и мали базен (одрасли и деца старија од 4 године)</td>
					<td>сваки дан</td>
					<td>1.000,00 дин.</td>
				</tr>
				<tr>
					<td>Combo daily – дневна карта за сауну и олимпијски базен ( базен се користи у терминима за грађанство током радног времена сауне )</td>
					<td>пакет услуга</td>
					<td>1.100,00 дин.</td>
				</tr>
				<tr>
					<td>Spa premium – месечна карта за сауну и мали базен </td>
					<td>сваки дан</td>
					<td>6.500,00 дин.</td>
				</tr>
				<tr>
					<td>Spa plus – месечна карта за сауну и мали базен </td>
					<td>само радним даном </td>
					<td>5.000,00 дин.</td>
				</tr>
				<tr>
					<td>Spa economy – месечна карта за сауну и мали базен </td>
					<td>само викендом</td>
					<td>4.500,00 дин.</td>
				</tr>
				<tr>
					<td>Combo premium – месечна карта за сауну и олимпијски базен </td>
					<td>пакет услуга сваки дан</td>
					<td>10.000,00 дин.</td>
				</tr>
				<tr>
					<td>Combo plus  –  месечна карта за сауну и олимпијски базен </td>
					<td>пакет услуга само радним даном</td>
					<td>7.500,00 дин.</td>
				</tr>
				<tr>
					<td>Combo economy - месечна карта за сауну и олимпијски базен </td>
					<td>пакет услуга само викендом</td>
					<td>7.000,00 дин.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>