<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/zatvoreni-bazen2.jpg)"></div>
	<div class="pageFixedTitle">ЗАТВОРЕНИ БАЗЕН</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Дужине 50, ширине 21 и дубине 2,1 метар, са температуром од 26 степени у просеку, и овај базен у целости задовољава олимпијске стандарде. Температура ваздуха у дворани одржава се најсавременијом климатизацијом.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Грађани могу користити затворени базен у следећим терминима:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Субота</td>
								<td>Недеља</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td><!--06:15 - 08:00--></td>
								<td></td>
							</tr>
							<tr>
								<td><!--14:00 - 16:00--></td>
								<td><!--13:00 - 15:00--></td>
								<td><!--13:00 - 15:00--></td>
							</tr>
							<tr>
								<td><!--22:15 - 23:30--></td>
								<td><!--21:00 - 23:00--></td>
								<td><!--21:00 - 23:00--></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda2.jpg);">
			<div class="smallContent padded" style="padding:50px 0px;">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						<b>ПРИЛИКОМ КОРИШЋЕЊА ЗАТВОРЕНОГ БАЗЕНА ОБАВЕЗНО ЈЕ НОШЕЊЕ ЗАШТИТНЕ КАПИЦЕ ЗА ПЛИВАЊЕ!</b> <br>Корисници који не поседују капице, могу их купити уз дневне карте.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - цео базен </td>
					<td>сваки дан</td>
					<td>20.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - пола базена </td>
					<td>сваки дан</td>
					<td>12.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - четвртина базена </td>
					<td>сваки дан</td>
					<td>7.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - осмина базена </td>
					<td>сваки дан</td>
					<td>4.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 5 сати корићшења - домаћа такмичења  </td>
					<td>сваки дан</td>
					<td>120.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 5 сати коришћења - међународна такмичења</td>
					<td>сваки дан</td>
					<td>185.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена  3 сата коришћења - домаћа такмичења </td>
					<td>сваки дан</td>
					<td>78.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 3 сата коришћења - међународна такмичења </td>
					<td>сваки дан</td>
					<td>135.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 2 сата коришћења - домаћа такмичења</td>
					<td>сваки дан</td>
					<td>54.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - домаћа такмичења </td>
					<td>сваки дан</td>
					<td>28.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат коришћења - међународна такмичења</td>
					<td>сваки дан</td>
					<td>52.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена цео дан коришћења - међународна такмичења са публиком</td>
					<td>сваки дан</td>
					<td>500.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена цео дан коришћења - домаћа такмичења са публиком</td>
					<td>сваки дан</td>
					<td>350.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена 1 сат  коришћења - за снимања </td>
					<td>сваки дан</td>
					<td>40.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп платформе и малог базена 1 сат коришћења</td>
					<td>сваки дан</td>
					<td>7.200,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп термина затвореног базена цео дан коришћења - за организацију догађаја са додатним капацитетима</td>
					<td>сваки дан</td>
					<td>600.000,00 дин.</td>
				</tr>
				<tr>
					<td>Закуп хидросаунског блока цео дан коришћења</td>
					<td>сваки дан</td>
					<td>180.000,00 дин.</td>
				</tr>
			</table>

			<table class="priceTable" style="margin-top:20px">
				<tr>
					<td>Дневна карта одрасли</td>
					<td>сви термини</td>
					<td>400,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли са капом силикон моноколор</td>
					<td>сви термини</td>
					<td>860,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли са капом силикон мултиколор</td>
					<td>сви термини</td>
					<td>1.010,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли са капом полиестер</td>
					<td>сви термини</td>
					<td>760,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца до 12 година</td>
					<td>сви термини</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца до 12 година са капом силикон јуниор</td>
					<td>сви термини</td>
					<td>600,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца до 12 година са капом силикон</td>
					<td>сви термини</td>
					<td>510,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом</td>
					<td>сви термини</td>
					<td>200,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом са капом силикон мултиколор</td>
					<td>сви термини</td>
					<td>850,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом са капом силикон моноколор</td>
					<td>сви термини</td>
					<td>700,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом са капом полиестер</td>
					<td>сви термини</td>
					<td>600,00 дин.</td>
				</tr>
				<tr>
					<td>Породична карта ( родитељи са једним или двоје деце до 12 година )</td>
					<td>сви термини</td>
					<td>600,00 дин.</td>
				</tr>
				<tr>
					<td>Репрограмибилна картица за пролаз</td>
					<td>комад</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта - одрасли </td>
					<td>рекр. пливање</td>
					<td>4.500,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта - одрасли (12 термина)</td>
					<td>рекр. пливање</td>
					<td>3.500,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта - одрасли од 15.09. до 31.05.</td>
					<td>рекр. пливање</td>
					<td>25.000,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта - особе са инвалидитетом (12 термина)</td>
					<td>рекр. пливање</td>
					<td>2.000,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта - ђаци и студенти (12 термина)</td>
					<td>рекр. пливање</td>
					<td>2.500,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта - ђаци и студенти</td>
					<td>рекр. пливање</td>
					<td>3.000,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта - ђаци и студенти од 15.09. до 31.05.</td>
					<td>рекр. пливање</td>
					<td>20.000,00 дин.</td>
				</tr>
				<tr>
					<td>Школа пливања - месечна чланарина за једно дете</td>
					<td>3 термина недељно</td>
					<td>5.000,00 дин</td>
				</tr>
				<tr>
					<td>Школа пливања - месечна чланарина за друго и свако наредно дете из исте породице</td>
					<td>3 термина недељно</td>
					<td>3.000,00 дин</td>
				</tr>
				<tr>
					<td>Школа пливања - месечна чланарина за једно дете</td>
					<td>2 термина недељно</td>
					<td>4.000,00 дин</td>
				</tr>
				<tr>
					<td>Школа пливања - месечна чланарина за друго и свако наредно дете из исте породице</td>
					<td>2 термина недељно</td>
					<td>2.000,00 дин</td>
				</tr
				<tr>
					<td>Универзитет Метрополитан дневна карта - студенти</td>
					<td>сви термини</td>
					<td>180,00 дин</td>
				</tr>
				<tr>
					<td>Универзитет Метрополитан дневна карта - запослени</td>
					<td>сви термини</td>
					<td>240,00 дин</td>
				</tr>
				<tr>
					<td>Универзитет Метрополитан месечна карта 30 термина - студенти</td>
					<td>рекр. пливање</td>
					<td>2.250,00 дин</td>
				</tr>
				<tr>
					<td>Универзитет Метрополитан месечна карта 30 термина - запослени</td>
					<td>рекр. пливање</td>
					<td>3.000,00 дин</td>
				</tr>
				<tr>
					<td>Издавање потврде, тест пливања</td>
					<td>услуга</td>
					<td>2.000,00 дин.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>